/* Font Faces */
@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-Heavy.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-HeavyItalic.ttf");
    font-weight: 900, italic;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-BoldItalic.ttf");
    font-weight: 700, italic;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-DemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-DemiBoldItalic.ttf");
    font-weight: 600, italic;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-MediumItalic.ttf");
    font-weight: 500, italic;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-LightItalic.ttf");
    font-weight: 300, italic;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-ExtraLightItalic.ttf");
    font-weight: 200, italic;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Paralucent";
    src: url("fonts/Paralucent/ttf/Paralucent-ThinItalic.ttf");
    font-weight: 100, italic;
}

/* text styles */ 
.h1-orange{
    font-family: Paralucent;
    font-weight: 600;
    font-size: 28px;
    color: #EA5B45;
}

.h2-orange{
    font-family: Paralucent;
    font-weight: 600;
    font-size: 24px;
    color: #EA5B45;
}

.h3-orange{
    font-family: Paralucent;
    font-weight: 600;
    font-size: 21px;
    color: #EA5B45;
}

.h4-orange{
    font-family: Paralucent;
    font-weight: 600;
    font-size: 18px;
    color: #EA5B45;
}

.body-orange{
    font-family: Paralucent;
    font-weight: 300;
    font-size: 16px;
    color: #EA5B45;
}

.caption-orange{
    font-family: Paralucent;
    font-weight: 300;
    font-size: 14px;
    color: #EA5B45;
}

.footnote-orange{
    font-family: Paralucent;
    font-weight: 300;
    font-size: 12px;
    color: #EA5B45;
}

.h1-white{
    font-family: Paralucent;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
}

.h2-white{
    font-family: Paralucent;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.h3-white{
    font-family: Paralucent;
    font-weight: 600;
    font-size: 21px;
    color: #FFFFFF;
}

.h4-white{
    font-family: Paralucent;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.body-white{
    font-family: Paralucent;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

.caption-white{
    font-family: Paralucent;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
}

.footnote-white{
    font-family: Paralucent;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
}

/* body styles */
body{
    background-color: #1E1E1E;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 600px;
    background-color: #15151D;
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px -70px 35px -30px rgb(21, 21, 29, 1);
}

@media only screen and (max-width: 390px) {
    .container{
        box-shadow: inset 0px -40px 20px -20px rgb(21, 21, 29, 0.70) /* container innter shadow responsiveness*/
    }
}

/* header style */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 600px;
    z-index: 2;
    background: linear-gradient(180deg, rgba(6,6,12,1) 38%, rgba(6,6,12,0.5019257703081232) 66%, rgba(6,6,12,0) 100%);
    
    display: flex;
    height: 100%;
    max-height: 120px;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.sticky {
    position: fixed;
    max-width: 600px;
    box-sizing: border-box;
}

.sticky + .content {
    padding-top: 102px;
}

.header-logo-btn{
    border: none;
    background-color: transparent;
    position: absolute;
    left: 0; 
    right: 0; 
    margin: auto;
    width: auto;
    cursor: pointer;
    width: fit-content;
}

.header-logo-icon{
    width: 90px;
    height: 54.45px;
}

.header-menu-icon{
    height: 80%;
    width: 80%;
    padding: 3px;
    box-sizing: border-box;
    margin: 0px 0px 0px 16px;
    fill: #FFFFFF;
}

/* menu overlay */
.overlay-menu{
    height: 0;
    width: 100%;
    max-width: 600px;
    position: fixed; /* Stay in place */
    z-index: 3;
    top: 0;
    background-color: rgba(0,0,0, 0.80);
    overflow-x: hidden;
    transition: 0.5s;
    scrollbar-width: none;
}

.overlay-content{
    padding: 40px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.overlay-header{
    width: 100%;
    max-width: 600px;
}

.overlay-box{
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    background-color: #15151D;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px 1px rgb(0, 0, 0, 0.30);
}

.overlay-about-logo{
    width: 129px;
}

.overlay-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.overlay-form-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    background-color: #EA5B45;
    color: #FFFFFF;
    font-family: Paralucent;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    width: fit-content;
    max-height: 30px;
}

.arrow-right-icon-m{
    height: 12px;
}

.overlay-heading{
    margin: 0px 0px -10px 0px;
}

.overlay-socials-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 12px;
}

.overlay-socials-btn{
    border: none;
    font-family: Paralucent;
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    height: 100%;
    background-color: transparent;
    max-height: 30px;
}

/* footer style */
.footer{
    width: 100%;
    background-color: #15151D;
    max-width: 600px;
    padding: 24px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer-text{
    color: #5F5F5F;
    text-align: center;
    border-top: 1px solid #1F1F26;
    width: 100%;
    padding: 10px 0px 0px 0px;
}

/* icon button styles */
.orange-fill-btn-l{
    height: 50px;
    width: 50px;
    padding: 12px;
    border-radius: 100%;
    border: none;
    background-color: #EA5B45;
    cursor: pointer;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.3);
}

.orange-fill-btn-m{
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 100%;
    border: none;
    background-color: #EA5B45;
    cursor: pointer;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.3);
}

.orange-fill-btn-s{
    height: 30px;
    width: 30px;
    padding: 6px;
    border-radius: 100%;
    border: none;
    background-color: #EA5B45;
    cursor: pointer;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.3);
}

.no-fill-btn-l{
    height: 50px;
    width: 50px;
    padding: 12px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.no-fill-btn-m{
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.no-fill-btn-s{
    height: 30px;
    width: 30px;
    padding: 6px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* icon styles */
.icon-white{
    width: 100%;
    height: 100%;
}

/* flip card design */
.flip-card-container{
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 16px 0px;
}

.flip-card{
    width: 100vw;
    max-width: 318px;
    height: auto;
    border-radius: 15px;
    aspect-ratio: 2.125 / 3.370;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.50);
}

.card-face{
    width: 100%;
    height: 100%;
}

.card-front{
    background-color: #06060C;
    background-size: contain;
    padding: 16px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    flex-direction: column;
    border-radius: 15px;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    backface-visibility: hidden;
}

.card-back{
    padding: 16px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    flex-direction: column;
    border-radius: 15px;
    background-color: #06060C;
    justify-content: space-between;
    
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.card-back-details{
    margin: 0px 0px 16px 0px;
}

.flip-card.active{
    transform: perspective(700px) rotateY(180deg);
}

.card-back-footer{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

.card-back-footer-details{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 200px;
}

.card-back-serial-no{
    color: #5F5F5F;
    font-weight: 500;
}

/* song details */
.player-details{
    text-align: center;
    margin: 0px 0px 4px 0px;
}


/* player */
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 120px 0px 0px 0px;
}

/* new player controls */
.player-controls-new{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    margin-bottom: 16px;
    padding: 0px 16px;
    box-sizing: border-box;
}

.player-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.progress-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.current-time, .total-duration{
    font-family: Paralucent;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
}

.seek-slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #EA5B45;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 10px;
    width: 100%;
}

.seek-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: #FFFFFF;
    border-radius: 100%;
    cursor: grab;
}

.seek-slider:hover{
    opacity: 1;
}

.current-time{

}

/* categories */
.player-categories{
    display: inline-grid;
    margin: 0px -16px 12px -16px;
}

.categories::-webkit-scrollbar {
    display: none;
}

.categories {
    scrollbar-width: none;
    overflow-x: scroll;
    display: flex;
    left: 0;
    padding: 0px 16px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.category-btn{
    font-family: Paralucent;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 6px 12px;
    margin: 0px 6px 6px 0px;
    background-color: #343434;
    transition: all .8s;
    font-weight: 500;
    cursor: pointer;
}

.category-btn-selected{
    color: #EA5B45;
    background-color: #FFFFFF;
}

/* content style */
.player-content{
    width: 100%;
    max-width: 600px;
    padding: 0px 16px;
    box-sizing: border-box;
    background-color: #15151D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* artist content style */
.content-artist{
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}

.artist-profile{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0px 0px 16px 0px;
}

.artist-profile-photo{
    width: 50%;
    max-width: 172.5px;
    height: auto;
    border-radius: 15px;
    aspect-ratio: 2.125 / 3.370;
    border-radius: 8px; 
    object-fit: cover;
}

.artist-profile-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist-name{
    font-weight: 500;
    line-height: 29px;
    margin: 0px 0px 6px 0px;
}

.artist-social-link{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.artist-social-media{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

/* content-lyrics */
.content-lyrics{
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}

/* content-lyrics */
.content-support{
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}

.support-image{
    width: 100%;
}

.support-btn-container{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

/* video content style */
.content-video{
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}

.video-gallery{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.video-placeholder{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.video-thumbnail{
    width: 100%;
    max-width: 360px;
    height: auto;
    border-radius: 15px;
    border-radius: 8px; 
    object-fit: cover;
}

.video-title{
    font-weight: 600;
}

.video-footer{
    display: flex;
    justify-content: center;
}

.video-footer-text{
    background: none;
    font-family: Paralucent;
    font-size: 14px;
    color: #EA5B45;
    font-weight: 500;
    gap: 6px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.video-footer-icon{
    color: #EA5B45;
}

/* hide content */
.hidden-content{
    display: none;
    height: 0;
}

/* popup-notifications */
.popup-notifications{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 600px;
    height: 0%;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.60);
    display: flex;
    flex-direction: column;
    justify-content: end;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
}

.popup-containers{
    width: 100%;
    padding: 36px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: #343434;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -6px 10px 0px rgb(0, 0, 0, 0.50);
}

.popup-image{
    max-width: 260px;
    width: 100%;
}

.popup-description{
    max-width: 320px;
    text-align: center;
}

img {
    pointer-events: none;
}

image {
    pointer-events: none;
}